#titulo{
    background-color: purple;
    color: white;
    border: dashed black;
}

#menu ul{
    text-decoration: none;
    list-style: none;
    line-height: 50px;
}

#menu a{
    color: red;
}

#menu li ul li a{
    color:green;
}

#description{
    border:black solid;
    padding: 10px 10px;
}
/*
footer{
    height: 50px;
    line-height: 50px;
}

.lateral{
    height: 250px;
}

.lateral > div{
    height: calc(250px/3);
}
 */
